<%- include ('partials/head') %> 
  <body>
    <%- include ('partials/navbar') %>
    <div class="container">
      <h1>browsing the bla bla subredditt <%= name %></h1>
      <h2><%= description %></h2>
      <p><%= subscribers %> Total Subscribers</p>
      <hr />

      <% for(let post of posts) { %>
      <article>
        <p><%= post.title %> - <b><%= post.author %> </b></p>
        <% if(post.img) { %>
        <img src="<%= post.img %> " alt="" />
        <% } %>
      </article>
      <% } %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
